---
import ContentSection from '~/components/content-section.astro';
---

<ContentSection title="Blog" id="showcase">
	<Fragment slot="lead">
		Mutige Schüler erkunden die <span class="text-primary">Grenzen des Himmels</span>, vereinen
		Wissenschaften in spektakulärer <span class="text-primary">Stratosphärenballon-Expedition</span
		>.
	</Fragment>
	<div class="max-w-6xl space-y-2">
		<hr class="my-8 h-px border-0 bg-gray-200 dark:bg-gray-700" />
		<div class="max-w-7xlxl mx-auto mt-10 bg-offset px-4 py-8 text-default shadow-md">
			<h2 class="mb-2 font-bold text-2xl">
				Ballon-Mission des ASG: P-Seminar lässt Wetterballon steigen
			</h2>
			<p class="text-sm">
				Veröffentlicht: 11. Juli 2023 | Von Emely Greiner | <a
					href="https://www.darc-u30.de/news/2023-07-08_hab_asg/pnp-passau-stadt-land-11-07-2023.pdf"
					>Quelle</a
				>
			</p>
			<p class="mt-4 text-justify">
				„Herzlich willkommen zur Stratosphären-Mission des ASG“ – so begrüßte Dr. Holger Megies
				Samstagvormittag alle Interessierten zu der Veranstaltung seines P-Seminars. Ein halbes Jahr
				intensive Vorbereitungen erreichten ihren Höhepunkt, als die Schüler ihren Wetterballon
				steigen ließen.
				<br />
				<br />
				 In der Meteorologie wird der mit Helium befüllte Ballon zum Aufstieg von Messgeräten
				verwendet. Dieser dehnt sich bei steigender Höhe und sinkendem Luftdruck aus bis er
				schließlich platzt. An einem Fallschirm schwebt er dann samt den Messgeräten zurück zum
				Boden. Eine solche Ballon-Mission ist kostenintensiv und konnte nur dank Sponsoren
				ermöglicht werden. Vor allem die Ballonhülle ist sehr teuer. Um diese nicht zu beschädigen,
				durfte sie beim Aufbau nur mit Handschuhen berührt werden. Ein Schaden an der Oberfläche
				hätte dazu geführt, dass der Ballon frühzeitig platzt und nicht seine geplante Höhe
				erreicht. Diese wurde im Voraus von der Gruppe um Dr. Megies berechnet und betrug zwischen
				36 000 und 38 000 Meter. Die Beschaffung des Gases stellte das Team vor eine weitere
				Herausforderung. Denn auch der Helium-Markt ist betroffen von der derzeitigen Gas-Krise,
				berichtete Dr. Megies.
				<br />
				<br />
				 Sobald alle Vorbereitungen getroffen waren, konnten die Schüler den Ballon loslassen. Mit
				den Worten „Drücken Sie uns die Daumen, dass wir nicht im Baum hängen bleiben“ ließen Dr.
				Megies und sein Team den Wetterballon um kurz vor 11 in den Himmel steigen. Daran befestigt
				waren einige Sensoren. Das GPS-Gerät maß beispielsweise die Position im Gradnetz und die
				Höhe. Außerdem konnten auch der Luftdruck und die Feuchtigkeit erfasst werden. Eine
				Besonderheit des Experiments waren die zwei Sensoren um den Ozongehalt zu bestimmen. Die
				ermittelten Daten konnten im Nebengebäude der Sternwarte live verfolgt werden. Eine
				Ausstellung rahmte das Ereignis ein, das von den Ortsvereinen U11 Passau und U30 Pocking des
				Deutschen Amateur-Radio Clubs (DARC) unterstützt wurde.
			</p>
		</div>
	</div>
	<div class="max-w-6xl space-y-2">
		<hr class="my-8 h-px border-0 bg-gray-200 dark:bg-gray-700" />

		<div class="max-w-7xlxl mx-auto mt-10 bg-offset px-4 py-8 text-default shadow-md">
			<h2 class="mb-2 font-bold text-2xl">
				Der Tag der Naturwissenschaft: Adalbert Stifter Gymnasium und Sternwarte Passau präsentieren
				Stratosphärenballon-Start
			</h2>
			<p class="text-sm">Veröffentlicht: 1. Juli 2023</p>
			<p class="mt-4 text-justify">
				Vorsichtig mit ruhiger Hand werden die letzten Arbeiten und der Feinschliff an der Hülle des
				Ballons beendet. Nun wird es für die Schüler der Q11 des Adalbert Stifter Gymnasiums unter
				der Leitung von Dr. Holger Megies ernst. Schon am 08.07.2023 ist es so weit! Dann werden
				endlich die Mühen von einem Jahr aus intensiver Planung und Arbeit des P - Seminars
				Geografie mit einem Großereignis belohnt. „Der Tag der Naturwissenschaft“ - Ein
				beeindruckendes Schauspiel das durch eine Kooperation des Adalbert Stifter Gymnasiums mit
				der Sternwarte Passau Realität wird.
				<br />
				<br />
				 Die Veranstaltung bietet den unvergleichen Anblick des Starts eines Stratosphärenballons.
				Dieses atemberaubende Erlebnis ermöglicht es den Teilnehmern, die Wunder der
				Naturwissenschaft hautnah zu erleben und nachzuvollziehen, wie unser Planet funktioniert und
				aufgebaut ist. Doch das ist keineswegs alles. Neben dem Stratosphärenballon bietet die
				Sternwarte Passau mit ihrem Tag der offenen Tür auch die Möglichkeit, die Sonne auf eine
				ganz neue Weise zu betrachten und kennenzulernen.
				<br />
				<br />
				 Große Hilfe war hierbei ein Zusammenschluss mit dem Deutschen Amateur-Radio-Club (DARC),
				welcher mit seinen versierten Kenntnissen und Erfahrungen das nötige Know-How mitbrachten.
				Außerdem bietet diese Partnerschaft am Tag der Naturwissenschaft ein erweitertes Spektrum
				des Lernens und Interagieren, welches den Besuchern die Faszination unserer Welt hautnah
				bringt.
				<br />
				<br />
				 Wir laden alle ein, die Begeisterung für die Naturwissenschaften teilen, an diesem
				besonderen Tag teilzunehmen und die Wunder der Naturwissenschaft aus nächster Nähe zu
				beobachten und hautnah zu erleben. Dieser Tag bietet eine hervorragende Gelegenheit, mehr
				über unsere Welt um uns zu erfahren und die Faszination vor dem Unbekannten neu zu
				entdecken.
			</p>
		</div>
	</div>
</ContentSection>
