---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Funktechnik",
    description:
      "APRS ist ein Datenübertragungssystem im Amateurfunk, das Positions-, Wetter-, Telemetrienachrichten überträgt. Die Daten können online abgerufen und visualisiert werden.",
    icon: "mdi:access-point",
  },
  {
    title: "Hardware",
    description:
      "Der TTGO T-Beam ist eine benutzerfreundliche Platine, die zur drahtlosen Kommunikation verwendet wird. Mit integriertem GPS und LoRa-Technologie ermöglicht sie Fernübertragungen von Standortdaten.",
    icon: "mdi:router-wireless",
  },
  {
    title: "Sensorik",
    description:
      "Der BME280 ist ein kleiner Sensor, der Druck, Luftfeuchtigkeit und Temperatur misst. Der MQ131 hingegen ist ein Sensor, der die Luftqualität überprüft, indem er den Ozongehalt misst.",
    icon: "mdi:tape-measure",
  },
];
---

<ContentSection title="Ziel" id="features">
  <Fragment slot="lead">
    Unser Projekt soll dazu dienen, <span class="text-primary">
      Messwerte wie Höhe, Ozongehalt, Temperatur und Luftdruck</span
    > zu erfassen. Die analysierten Daten fördern das Verständnis der Stratosphäre
    und bereichern damit den Geografieunterricht.
    <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        features.map(({ title, description, icon }) => (
          <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
            <div class="h-16 w-16 rounded-full border-2 border-current p-3">
              <Icon name={icon} />
            </div>
            <p class="text-center font-extrabold text-xl">{title}</p>
            <p class="text-center text-offset text-sm">{description}</p>
          </li>
        ))
      }
    </ul>
  </Fragment>
</ContentSection>
