---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import starhipImage from "~/assets/starship.svg";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [350, 600];
const sizes = "(min-width: 640px) 49vw, 57vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="gradient-text z-50 pb-12 text-center text-8xl font-extrabold tracking-tighter md:pr-10"
      >
        Frontiers<br />To<br />Space
      </div>
    </h2>
    <div
      id="spaceship"
      class="z-40 w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start md:pr-14"
    >
      <Picture
        class="h-full w-full rotate-12 object-cover"
        src={starhipImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A spaceship embarking on a journey to space"
      />
    </div>
    <div
      class="absolute bottom-2 left-1/2 z-50 hidden h-12 w-12 -translate-x-1/2 transform md:block"
      id="scroll-down"
    >
      <!-- <Icon name="mdi:arrow-down-circle-outline" /> -->
      <btn class="scroll-to toggle animate">
        <div class="scroll-to-icon fill-slate-200"></div>
      </btn>
    </div>
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>
</section>

<style lang="scss">
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #spaceship {
    animation: float linear 2.5s infinite alternate;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3));
  }

  @media (prefers-reduced-motion: reduce) {
    #spaceship {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }

  /* Scroll Down Animation */
  #scroll-down btn.toggle:active .scroll-to-icon {
    box-shadow: inset 0 0 0 2px #d7dde7;
  }
  #scroll-down btn.toggle:active .scroll-to-icon:after {
    background: #878a8f;
  }
  #scroll-down .scroll-to-icon {
    width: 30px;
    height: 40px;
    box-shadow: inset 0 0 0 2px #d7dde7;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    transform: translateY(0);
  }
  #scroll-down .scroll-to-icon:after {
    content: "";
    width: 4px;
    height: 9px;
    background: #d7dde7;
    margin-left: 12.5px;
    top: 8px;
    border-radius: 2px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    position: absolute;
  }
  #scroll-down.keep-arrow btn.toggle {
    visibility: visible;
  }

  @media (min-width: 1280px) {
    #scroll-down btn.toggle {
      margin-top: 30px;
    }
    #scroll-down btn.toggle:hover svg path {
      fill: #ffffff;
    }
    #scroll-down btn.toggle:hover .scroll-to-icon {
      box-shadow: inset 0 0 0 2px #ffffff;
    }
    #scroll-down btn.toggle:hover .scroll-to-icon:after {
      background: #ffffff;
    }
  }

  @keyframes scroll {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateY(7px);
    }
  }
</style>

<script>
  document.querySelector("#scroll-down")?.addEventListener("click", () => {
    document.querySelector("#intro")?.scrollIntoView({
      behavior: "smooth",
    });
  });
</script>
